@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
    :root {
      --color-primary: 81 120 251;
      --color-gray-light: 248 248 248;
      --baground-primary: 30 30 30;
      --baground-secondary: 36 36 35;
      --text-base: 248 248 248;

      scroll-behavior: smooth;
    }
  }



address {
  display: initial;
  font-style: initial;
}

body {
  background-color: rgb(var(--baground-primary));
  color: rgb(var(--text-base));

}

img {
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
}
